* {
    box-sizing: border-box;
}

html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   font-family: sans-serif;

}

body {
    background-color: black;
    cursor: url(img/hook3.png), auto;
    transition: ease .5s;
}

.filter {
    filter: sepia() grayscale();
    transition: ease .5s;
}

button {
    z-index: 1;
    position: absolute;
    top: 4em;
    right: 4em;
    padding: 10px 20px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 0;
    border: 2px white solid;
    background: none;
    color: white;
    transition: ease .3s;
}

#button2 {
    top: 9em;
    display: none;
}

#button3 {
    top: 14em;
    display: none;
}

button:hover {
    background-color: rgba(255,255,255,0.25);
    cursor: pointer;
}

button:focus {
    outline:0;
}

.waterInfo {
    position: absolute;
    top: 4em;
    left: 4em;
    z-index: 1;
}

.waterInfo h3 {
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

p {
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
}

p span {
    font-weight: 600;
}

section {
    padding: 6em 2em;
    height: 100vh;
    width: 100vw;
}

a:hover .water {
    height: 100%;
}

.water {
    height: 100vh !important;
}

.styleSVG {
    opacity: 0.6;
    transition: 1.2s ease-in;
}

.style1 {
    fill: white;
    transition: ease 1s;
}

.style2 {
    fill: white;
    transition: ease 1s;
}

.style3 {
    fill: #d33541;
    transition: ease .5s;
}

.style4 {
    fill: #d33541;
    transition: ease .5s;
}

#water {
    width: 100%;
    height: 0;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    transition: 2s ease;
    background-image: url(img/water.jpg);
    background-position: bottom;
    background-size: cover;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 40%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
    transition: ease 1s;
    z-index: 0;
}

svg {
    position: absolute;
    margin: auto;
    display: block;
    overflow: visible;
    width: 40%;
    transition: ease-in 1.2s;
    z-index: 3;
    top: 0; left: 0; bottom: 0; right: 0;
    animation: wobble 6s;
    animation-iteration-count: infinite;
}

@keyframes wobble {
    0% {
        transform: rotate(2deg) translateY(10px);
    }
    25%{
        transform: rotate(-2deg) translateY(-10px);
    }
    50%{
        transform: rotate(2deg) translateY(10px);
    }
    75%{
        transform: rotate(-2deg) translateY(-10px);
    }
    100%{
        transform: rotate(2deg) translateY(10px);
    }
}


h2 {
    color: white;
    text-transform:uppercase;
    position: absolute;
    bottom: 2.7em;
    left: 2.7em;
    transition: ease 1s;
    margin: 0;
}

h2 span {
    font-weight: 100;
}

svg:hover #chinese_vis_1 {
    animation: swimOn1 2.5s;
    animation-fill-mode: forwards;
}

svg:hover #chinese_vis_2 {
    animation: swimOn1 2s;
    animation-fill-mode: forwards;
}

@keyframes swimOn1 {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(1400px);
    }
}

svg:hover #amerikaanse_vis {
    animation: swimOn2 2s;
    animation-fill-mode: forwards;
}

@keyframes swimOn2 {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-1600px);
    }
}

svg:hover #japans_visje_1 {
    animation: swimOn3 2s;
    animation-fill-mode: forwards;
}

svg:hover #japans_visje_2 {
    animation: swimOn3 2s;
    animation-fill-mode: forwards;
}

svg:hover #japans_visje_3 {
    animation: swimOn3 2.1s;
    animation-fill-mode: forwards;
}

svg:hover #japans_visje_4 {
    animation: swimOn3 2.1s;
    animation-fill-mode: forwards;
}

svg:hover #japans_visje_5 {
    animation: swimOn3 2.2s;
    animation-fill-mode: forwards;
}

svg:hover #japans_visje_6 {
    animation: swimOn3 2.2s;
    animation-fill-mode: forwards;
}

svg:hover #japans_visje_7 {
    animation: swimOn3 2.3s;
    animation-fill-mode: forwards;
}

svg:hover #japans_visje_8 {
    animation: swimOn3 2.3s;
    animation-fill-mode: forwards;
}

svg:hover #japans_visje_9 {
    animation: swimOn3 2.4s;
    animation-fill-mode: forwards;
}

svg:hover #japans_visje_10 {
    animation: swimOn3 2.4s;
    animation-fill-mode: forwards;
}

svg:hover #japans_visje_11 {
    animation: swimOn3 2.5s;
    animation-fill-mode: forwards;
}

svg:hover #japans_visje_12 {
    animation: swimOn3 2.5s;
    animation-fill-mode: forwards;
}

svg:hover #japans_visje_13 {
    animation: swimOn3 2.6s;
    animation-fill-mode: forwards;
}

svg:hover #japans_visje_14 {
    animation: swimOn3 2.6s;
    animation-fill-mode: forwards;
}

@keyframes swimOn3 {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-1600px);
    }
}



#amerikaanse_vis {
    transition: ease-in;
    animation: swiminright 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

@keyframes swiminright {
    0% {
        transform: translateX(1400px);
    }
    100% {
        transform: translateX(0px);
    }
}

#japans_visje_1, #japans_visje_2, #japans_visje_3, #japans_visje_4, #japans_visje_5, #japans_visje_6, #japans_visje_7, #japans_visje_8, #japans_visje_9, #japans_visje_10, #japans_visje_11, #japans_visje_12, #japans_visje_13, #japans_visje_14 {
    transition: ease-in;
    animation-name: swiminright ;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

#japans_visje_1 {
    animation-duration: 2.5s;
}

#japans_visje_2 {
    animation-duration: 2.6s;
}

#japans_visje_3 {
    animation-duration: 2.7s;
}

#japans_visje_4 {
    animation-duration: 2.8s;
}

#japans_visje_5 {
    animation-duration: 2.9s;
}

#japans_visje_6 {
    animation-duration: 3s;
}

#japans_visje_7 {
    animation-duration: 3.1s;
}

#japans_visje_8 {
    animation-duration: 3.2s;
}

#japans_visje_9 {
    animation-duration: 3.3s;
}

#japans_visje_10 {
    animation-duration: 3.4s;
}

#japans_visje_11 {
    animation-duration: 3.5s;
}

#japans_visje_12 {
    animation-duration: 3.6s;
}

#japans_visje_13 {
    animation-duration: 3.7s;
}

#japans_visje_14 {
    animation-duration: 3.8s;
}

/*
.swimLeft {
    animation: swimLeft;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: ease-in;
}

@keyframes swimLeft {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-1400px);
    }
}
*/

#chinese_vis_1, #chinese_vis_2 {
    transition: ease-in;
    animation-name: swiminleft;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

@keyframes swiminleft {
    0% {
        transform: translateX(-1400px);
    }
    100% {
        transform: translateX(0px);
    }
}

#chinese_vis_1 {
    animation-duration: 3s;
}

#chinese_vis_2 {
    animation-duration: 2.5s;
}

/*
#amerikaanse_vis:hover {
    animation-name: rotatejapan;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

@keyframes rotatejapan {
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

#amerikaanse_vis:hover .cls-6 {
    transform-origin: 50% 50%;
    transform-box: fill-box;
    fill: white;
    transition: ease 1s;
}

#amerikaanse_vis:hover #lichaam .cls-5 {
    fill: white;
    transition: ease 1s;
}

#amerikaanse_vis:hover #oog circle {
    fill: #d33541;
    transition: ease 0.5s;
}

#amerikaanse_vis:hover #oog {
    fill: #d33541;
    transition: ease 0.5s;
}
*/

/*
#japans_visje_1:active, #japans_visje_2:active, #japans_visje_3:active, #japans_visje_4:active, #japans_visje_5:active, #japans_visje_6:active, #japans_visje_7:active, #japans_visje_8:active, #japans_visje_9:active, #japans_visje_10:active, #japans_visje_11:active, #japans_visje_12:active, #japans_visje_13:active, #japans_visje_14:active {
    animation-name: swimAway;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}
*/

@keyframes swimAway {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-1400px);
    }
}

@media screen and (max-width: 1200px) {
    svg {
        width: 60%;
    }
    .waterInfo {
        display: none;
    }
    #button1, #button2, #button3 {
        left: 4em;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    svg {
        width: 80%;
    }
    h2{
        font-size: 18px;
        transition: ease 1s;
    }
    #overlay {
        background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
        transition: ease 1s;
    }
}














